name: Deploy Mokey

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Stop running bot
      run: |
        taskkill /F /IM python.exe || echo "Bot stopped"
        echo "Old bot killed"

    - name: Pull latest repo
      run: |
        cd C:/Users/redki/discord_bot_mokey
        git pull
        echo "Repo pulled"
        call venv\Scripts\activate.bat
        pip install -r requirements.txt
        echo "Dependencies installed"

    - name: Start bot
      run: |
        cd C:/Users/redki/discord_bot_mokey
        call venv\Scripts\activate.bat
        start /B python main.py > bot.log 2>&1
        echo "Bot started"
